body {
  display:grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

#box {
  grid-column: 1;
  grid-row: 1;
  margin: 0 0;
  width: 100vw;
  height: 100vh;
  background: #2d046e;
  opacity: 0.2;
 
}

h1{
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  color: #000;
  text-align: center;
  z-index:2;
}